@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Servico01{
  display:flex;
  z-index:0;
  width: 99.5vw;
  height: 190vh;
  Justify-Content: center;
  align-items: center;
  background-color: #829078!important;

flex-wrap:wrap;
gap: -20x;
}

.card-containers{
width: 90vw!important;

display:flex;
 justify-content: center;
 flex-wrap:wrap;
 gap: 20px;
 background-color: #829078!important;
 margin: -3rem 1rem 0 1rem!important;
}

.cards{
width:315px!important;
background-color: transparent!important;
padding:0 0 0 0!important;
overflow: hidden;
transition: transform 0.6s ease;
margin: 3px;

}
.cards:hover{
transform: translateY(-20px);
}

.cards img{
  width:320px!important;
margin-left:-0.3rem;
height: auto;


}

.card-coments{
padding: 0.25rem;
}

.card-coments  h1{
font-size: 1.2rem!important;
letter-spacing: 0.1rem!important;
margin-bottom: 10px!important;
text-align: center;
color:#f4f4f4;
font-family: "Josefin Sans", sans-serif;
}
.card-coments p{
font-size: 1.1rem!important;
text-indent: 1.5rem;
color: #f4f4f4;
margin-bottom: 20px!important;
text-align: justify;
font-family: "Josefin Sans", sans-serif;
}
.Servico01 .Sub-cards{
display:flex;
Justify-Content: center;
align-items:center;
flex-direction: column;
margin-bottom: 4rem!important;
margin-top: 6rem!important;
width: 70vw!important;
height: 40vh!important;

padding:  0 0 0 0.5rem;
z-index:1;

}
.Sub-cards h1{

display:flex;
Justify-Content: center;
align-items:center;
font-size: 3rem!important;
line-height: 1;
color: #f4f4f4 ;
margin:0 0 0.5rem 0!important;
padding: 0;
font-family: "Dancing Script", cursive;
font-weight: 700;

width:70vw!important;
}
.Sub-cards small{
display:flex;
Justify-Content: center;
align-items:center;
font-size: 2rem!important;
margin:0 0 1rem 0!important;
font-family: "Josefin Sans", sans-serif;
color: #f4f4f4 ;

width:60vw!important;
}

.Sub-cards p{
display:flex;
Justify-Content: center;
align-items:center;
font-size: 1.7rem !important;
font-family: "Josefin Sans", sans-serif;
color: #f4f4f4 ;
text-align: justify;
text-indent: 2rem; 
width: 90vw!important;

margin-right: 0.5rem!important;


}

 @media only screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  .Servico01{
    display:flex;
    z-index:0;
    width: 98.3vw;
    height: 252vh!important;
    Justify-Content: center;
    align-items: center;
  
  
  flex-wrap:wrap;
  gap: -20x;
}


.card-containers{
  width: 99vw!important;
  
  display:flex;
   justify-content: center;
   flex-wrap:wrap;
   gap: 20px;
   
   margin: -3rem 1rem 0 1rem!important;
  }

  .cards{
    width:410px!important;
    background-color: transparent!important;
    padding:0 0 0 0!important;
    overflow: hidden;
    transition: transform 0.6s ease;
    margin: 1rem 2rem 0 2rem;
    
    }
    .cards:hover{
    transform: translateY(-20px);
    }
    
    .cards img{
      width:410px!important;
    margin-left:-0.3rem;
    height: auto;
    
    
    }
    
    .card-coments{
    padding: 0.25rem;
    }
    
    .card-coments  h1{
    font-size: 1.5rem!important;
    letter-spacing: 0.1rem!important;
    margin-bottom: 10px!important;
    text-align: center;
    color:#f4f4f4;
    font-family: "Josefin Sans", sans-serif;
    }
    .card-coments p{
    font-size: 1.5rem!important;
    text-indent: 1.5rem;
    color: #f4f4f4;
    margin-bottom: 20px!important;
    text-align: justify;
    font-family: "Josefin Sans", sans-serif;
    }


 .Servico01 .Sub-cards{
  margin-bottom: 0;
  margin-top: 7rem;
  width: 75vw;
  height: 28vh;
 
  z-index:1;
 
 }
 .Sub-cards h1{

  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 4rem;
  line-height: 1;
  color: #f4f4f4 ;
  margin:0 0 0.5rem 2.5rem;
  padding: 0;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  
 }
 
  .Sub-cards small{
    display:flex;
    Justify-Content: center;
    align-items:center;
    font-size: 2.3rem;
    margin:0 0 1rem 2rem;
    font-family: "Josefin Sans", sans-serif;
    color: #f4f4f4 ;
    font-weight: bold;
    
 }
 .Sub-cards p{
  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 2rem !important;
  font-family: "Josefin Sans", sans-serif;
  color: #f4f4f4 ;
  text-align: justify;
  text-indent: 2rem; 
  margin-left:-1.5rem!important;
  
 
  
  width: 90vw;
 }
 
}

@media only screen and (max-width: 688px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  .Servico01{
    display:flex;
    z-index:0;
    width: 100vw;
    height: 800vh;
    Justify-Content: center;
    align-items: center;
  background-color: #829078;
  
  flex-wrap:wrap;
  gap: -20x;
}


.card-containers{
  display:flex;
   justify-content: center;
   flex-wrap:wrap;
   gap: 10px;
   margin-top: 3rem;
   margin-left: 0;

   width:99vw;
   z-index:0;
}
.cards{
  width:430px!important;
 
  padding:0 0 0 0!important;
  overflow: hidden;
  transition: transform 0.6s ease;
  margin: 1rem 2rem 0 2rem;
  
  }

.card-coments  h1{
  font-size: 1.7rem;
  margin-bottom: 10px;
  text-align: center;
  color:#f4f4f4;
  letter-spacing: 0.1rem;
  font-family: "Josefin Sans", sans-serif;
}
 .card-coments p{
  font-size: 1.5rem;
  color: #f4f4f4;
  margin-bottom: 20px;
  text-align: justify;
  font-family: "Josefin Sans", sans-serif;
 }


 .Servico01 .Sub-cards{
  margin-bottom: 0;
  margin-top:2rem;
  width: 75vw;
  height: 28vh;
  
  z-index:1;
 
 }
 .Sub-cards h1{

  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 3rem;
  line-height: 1;
  color: #f4f4f4 ;
  margin:0 0 0.5rem 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  background-color: transparent;
 }

 
  .Sub-cards small{
    display:flex;
    Justify-Content: center;
    align-items:center;
    font-size: 2.3rem;
    margin:0 0 1rem 2rem;
    font-family: "Josefin Sans", sans-serif;
    color: #f4f4f4 ;
    font-weight: bold;
 
 }
 .Sub-cards p{
  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 1.7rem !important;
  font-family: "Josefin Sans", sans-serif;
  color: #f4f4f4 ;
  text-align: justify;
  text-indent: 2rem; 
  margin-left:-1rem!important;
  
 
  
  width: 90vw;
 }

 
  
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 414px) { 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  .Servico01{
    display:flex;
    z-index:0;
    width: 96vw;
    height: 120vh;
    Justify-Content: center;
    align-items: center;
  background-color: #829078;
  
  flex-wrap:wrap;
  gap: -20x;
}


.card-containers{
  display:flex;
   justify-content: center;
   flex-wrap:wrap; 
   gap: 10px;
   margin-top: 3rem;

   margin-left:0.2rem;
   background-color: #829078;
   width:97vw;
   z-index:0;
}

.cards{
  width:308px;
 
  
  overflow: hidden;
  transition: transform 0.6s ease;
  margin: 1px;

}
.cards:hover{
  transform: translateY(-20px);
}

.cards img{
  width: 100px;
  height: auto;
  object-fit: cover;
  
}

.card-coments{
  padding: 1rem;
}

.card-coments  h1{
  font-size: 1.4rem;
  width: 60vw;
  margin-left:1.1rem;
  margin-bottom: 10px;
  text-align: center;
  color:#f4f4f4;
  
  letter-spacing: 0.1rem;
  font-family: "Josefin Sans", sans-serif;
}
 .card-coments p{
  font-size: 1.2rem;
  color: #f4f4f4;
  margin-bottom: 20px;
  text-align: justify;
  font-family: "Josefin Sans", sans-serif;
 }

 .Servico01 .Sub-cards{
  margin-bottom: 0;
  margin-top: 7rem;
  width: 75vw;
  height: 28vh;
  
  z-index:1;
 
 }
 .Sub-cards h2{

  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 2.6rem;
  line-height: 1;
  color: #f4f4f4 ;
  margin:0 0 0.5rem 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  background-color: transparent;
 }
 .Sub-cards small{
  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 1.5rem;
  margin:0 0 0.5rem 0;
  font-family: "Josefin Sans", sans-serif;
  color: #f4f4f4 ;
  background-color: transparent;
 
 }

 .Sub-cards span{
  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 1.1rem;
  font-family: "Josefin Sans", sans-serif;
  color: #f4f4f4 ;
  background-color: transparent;
  text-align: justify;
  margin-left:-1.4rem;
 }
 
}
@media only screen and (max-width: 412px) { 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  .Servicos01{
    display:flex;
    z-index:0;
    width: 95.9vw;
    height: 120vh;
    Justify-Content: center;
    align-items: center;
  background-color: #829078;
  
  flex-wrap:wrap;
  gap: -20x;
}
.card-container{
  display:flex;
   justify-content: center;
   flex-wrap:wrap; 
   gap: 10px;
   margin-top: 4rem;

   margin-left:0.2rem;
   background-color: #829078;
   width:97vw;
   z-index:0;
}
}

@media only screen and (max-width: 393px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  .Servicos01{
    display:flex;
    z-index:0;
    width: 95.5vw;
    height: 120vh;
    Justify-Content: center;
    align-items: center;
  background-color: #829078;
  
  flex-wrap:wrap;
  gap: -20x;
}


.card-container{
  display:flex;
   justify-content: center;
   flex-wrap:wrap;
   gap: 10px;
   margin-top:7rem;
   margin-left: 0;
  
   width:98.3vw;
   z-index:0;
}

.card-coment  h1{
  
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left:2.5rem;
  width:200px;
  text-align: center;
  color:#f4f4f4;
  letter-spacing: 0.1rem;
  font-family: "Josefin Sans", sans-serif;
}


 .Servicos01 .Sub-card{
  margin-bottom: 0;
  margin-top: 7rem;
  width: 75vw;
  height: 28vh;
  
  z-index:1;
 
 }
 .Sub-card h2{

  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 2.6rem;
  line-height: 1;
  color: #f4f4f4 ;
  margin:0 0 0.5rem 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
  font-weight: 700;

 }


 .Sub-card span{
  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 1.1rem;
  font-family: "Josefin Sans", sans-serif;
  color: #f4f4f4 ;
  
  text-align: justify;
 }

}
@media only screen and (max-width: 360px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  .Servicos01{
    display:flex;
    z-index:0;
    width: 95vw;
    height: 120vh;
    Justify-Content: center;
    align-items: center;
  background-color: #829078;
  
  flex-wrap:wrap;
  gap: -20x;
}


.card-container{
  display:flex;
   justify-content: center;
   flex-wrap:wrap;
   gap: 10px;
   margin-top:9rem;
   margin-left: 0;
  
   width:98.3vw;
   z-index:0;
}

.card{
  width:307px;
  background-color: #829078;

  overflow: hidden;
  transition: transform 0.6s ease;
  margin: 1px;

}
.card:hover{
  transform: translateY(-20px);
}

.card img{
  width: 100px;
  height: auto;
  object-fit: cover;
  
}

.card-coment{
  padding: 1rem;
}

.card-coment  h1{
  
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left:2.5rem;
  width:200px;
  text-align: center;
  color:#f4f4f4;
  letter-spacing: 0.1rem;
  font-family: "Josefin Sans", sans-serif;
}
 .card-coment p{
  font-size: 1.2rem;
  color: #f4f4f4;
  margin-bottom: 20px;
  text-align: justify;
  font-family: "Josefin Sans", sans-serif;
 }

 .Servicos01 .Sub-card{
  margin-bottom: 0;
  margin-top: 7rem;
  width: 75vw;
  height: 28vh;
  
  z-index:1;
 
 }
 .Sub-card h2{
  width: 80vw;
  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 2.5rem;
  line-height: 1;
  color: #f4f4f4 ;
  margin:0 0 0.5rem -1rem;
  padding: 0;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
 
 }
 .Sub-card small{
  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 1.5rem;
  margin:0 0 0.5rem -1rem;
  font-family: "Josefin Sans", sans-serif;
  color: #f4f4f4 ;
  
 
 }

 .Sub-card span{
  display:flex;
  Justify-Content: center;
  align-items:center;
  font-size: 1.1rem;
  font-family: "Josefin Sans", sans-serif;
  color: #f4f4f4 ;
  
  text-align: justify;
 }

}
@media only screen and (max-width: 390px), 
       screen and (max-height: 844px) {
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          list-style: none;
          text-decoration: none;
        }
        .Servico01{
          display:flex;
          z-index:0;
          width: 100vw;
          height: 600vh!important;
          Justify-Content: center;
          align-items: center;
        background-color: #829078!important;
        
        flex-wrap:wrap;
        gap: -20x;
      }
      .cards{
        width:350px!important;
        background-color: #829078;
      
        overflow: hidden;
        transition: transform 0.6s ease;
        margin: 1rem 0.5rem;
      
      }
      
      .card-containers{
        display:flex;
         justify-content: center;
         flex-wrap:wrap;
         gap: 10px;
         margin-top: 0.5rem!important;
         margin-left: 0;
         background-color: #829078!important;
         width:100vw;
         z-index:0;
      }
      
      .cards img{
        width: 400px!important;
        height: auto;
        object-fit: cover;
        margin-left:-1rem;
        
      }
      .card-coments  h1{
        width:70vw;
        font-size: 1.7rem!important;
        margin-left:0.5rem;
        margin-bottom: 10px;
        text-align: center;
        color:#f4f4f4;
        letter-spacing: 0.1rem;
        font-family: "Josefin Sans", sans-serif;
      }
       .card-coments p{
        width: 350px!important;
        font-size: 1.7rem!important;
        color: #f4f4f4;
        margin-left:-1rem;
        margin-bottom: 20px;
        text-align: justify;
        font-family: "Josefin Sans", sans-serif;
       }
      
      
       .Servico01 .Sub-cards{
        margin-bottom: 0;
        margin-top:10rem!important;
        width: 100vw!important;
        height: 45vh!important;
        
        z-index:1;
       
       }
       .Sub-cards h1{
      width: 100vw!important;
        display:flex;
        Justify-Content: center;
        align-items:center;
        font-size: 3rem!important;
        line-height: 1;
        color: #f4f4f4 ;
        margin:0 0 0 0!important;
        padding: 0!important;
        font-family: "Dancing Script", cursive;
        font-weight: 700;
       
       }
      
       
        .Sub-cards small{
          width: 90vw!important;
          display:flex;
          Justify-Content: center;
          align-items:center;
          font-size: 1rem;
         margin:0.5rem 0 1rem 0!important;
          font-family: "Josefin Sans", sans-serif;
          color: #f4f4f4 ;
          font-weight: bold;
      
       }
       .Sub-cards p{
        width: 90vw!important;
        display:flex;
        Justify-Content: center;
        align-items:center;
        font-size: 1.5rem !important;
        font-family: "Josefin Sans", sans-serif;
        color: #f4f4f4 ;
        text-align: justify;
        text-indent: 3rem; 
        margin-left:-0.5rem!important;
        
       
       }
      }