@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Meddon&family=WindSong:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
#fixa {
  position: fixed;
  bottom: 7vw;
  margin: 0 0 0 81vw;
  background-color: #829078;
  width: 250px;
  border-radius: 50px;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

#fixa img {
  width: 50px;
  height: 50px;
  margin-left: -0.3rem;
}
#fixa a .flex-itens {
  display: flex;
  align-items: center;
}
#fixa a .flex-itens span {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  color: #eee;
  margin-left: 0.3rem;

  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  background-size: 200%;
}

.flutuar {
  animation-name: flutuar;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes flutuar {
  from {
    transform: translate3d(0, 0, 0);
    filter: brightness(100%);
  }
  to {
    transform: translate3d(0, -15px, 0);
    filter: brightness(150%);
  }
}

.homestyle {
  display: grid;
  grid-template-columns: 40vw 60vw;
  grid-template-rows: 37.5% 37.5% 1fr;
  grid-template-areas:
    "cardy-direito cardy-esquerdo "
    "cardy-direito cardy-esquerdo "
    "cardy-rody cardy-rody";
  background-color: #829078;
  height: 100vh;
  margin: 0;
}

.homestyle .cardy-esquerdo {
  width: 59.5vw;
  grid-row: 1/3;
  grid-area: cardy-esquerdo;
  place-content: center;
}
.cardy-esquerdo span,
small,
p,
h5 {
  color: #fff;
  display: grid;
  text-align: center;
}
.cardy-esquerdo span {
  font-size: clamp(2.6rem, 7vw, 6rem);
  font-family: "WindSong", cursive;
  padding: 4rem 2rem 0 0;
}
.cardy-esquerdo small {
  font-family: "Dancing Script", cursive;
  font-size: clamp(1.7rem, 4.5vw, 2.7rem);
  padding: 0 0 0 0;
}
.cardy-esquerdo p {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  padding: 0 0 2.5rem 0;
}
.cardy-esquerdo h5 {
  width: 59.5vw;
  font-size: clamp(2.1rem, 4vw, 4rem);
  font-family: "Dancing Script", cursive;
}

.homestyle .cardy-direito {
  grid-row: 1/3;
  grid-area: cardy-direito;
  width: 40vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem 0 0 0;
}

.homestyle .cardy-rody {
  grid-column: 1/3;
  grid-row: 3/4;
  width: 99.5vw;
}

.homestyle .cardy-rody .imge img {
  width: 99.5vw;
  height: 25.4vh;
}

.Quemsou {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "conteudo conteudo conteudo ";
  background-color: #fff;
  height: 110vh;
  margin: 0;
}
.Quemsou .Conteudo {
  grid-row: 1/4;
  grid-area: conteudo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Quemsou .Conteudo .Conteudo-text {
  display: grid;
  justify-content: end;
  align-items: center;
  margin-top: 6rem;
  width: 400px;
  height: 450px;
}
.Conteudo-text h2 {
  padding-bottom: 3.5rem;
  font-size: clamp(3rem, 5vw, 5rem);
  line-height: 1;
  color: #b99496;
  font-family: "Dancing Script", cursive;
  height: 1vh;
  z-index: 1;
}
.Conteudo-text h4 {
  text-align: justify;
  color: #b99496;
  font-size: clamp(1.5rem, 5vw, 1.7rem);
  font-family: "Dancing Script", cursive;
  width: 350px;
  z-index: 1;
}
.Conteudo-text span {
  text-indent: 2rem;
  text-align: justify;
  color: #829078;

  font-size: 1.3rem;
  width: 350px;
  font-family: "Cormorant Garamond", serif;
}
.Quemsou .Conteudo .Conteudo-text a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 3rem;
  z-index: 0;
}

.Conteudo .SouImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 65vh;
}
.SouImg img {
  width: 30vw;
  height: 65vh;
}

.Servicos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "serv-card serv-card serv-card";
  justify-items: center;
  align-items: center;
  background: linear-gradient(
      rgba(130, 144, 120, 0.9),
      rgba(185, 148, 150, 0.9)
    ),
    url("./alim.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  margin: 0;
}

.Serv-card {
  grid-row: 1/4;
  grid-area: serv-card;
  display: grid;
  place-content: center;
  padding-top: 4rem;
  background: transparent;
  z-index: 1;
}

.Serv-card h2,
small,
p,
span {
  color: #f4f4f4;
}

.Serv-card h2 {
  font-size: clamp(3rem, 5vw, 4.5rem);
  line-height: 1rem;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-align: center;
  padding: 0 0 4rem 0;
  width: 70vw !important;
}
.Serv-card small {
  font-family: "Cormorant Garamond", serif;
  width: 70vw !important;
  text-align: start;
  padding: 0 0 2rem 2rem;
  font-weight: bold;
  font-size: clamp(1rem, 5vw, 2rem);
}

.Serv-card p {
  width: 70vw !important;

  text-align: justify;
  text-indent: 2rem;
  font-size: 1.3rem;
  font-family: "Cormorant Garamond", serif;
}
.Serv-card span {
  width: 70vw !important;
  text-align: justify;
  padding: 1rem 0 2.5rem 0;
  text-indent: 2rem;
  font-size: 1.3rem;
  font-family: "Cormorant Garamond", serif;
}

.Serv-card a {
  display: grid;
  place-self: center;
  margin: 0 10rem 0 0;
}

.Consulta {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "consult-nutri consult-nutri consult-nutri"
    "consult-nutri consult-nutri consult-nutri";
  height: 150vh;
}
.Consulta .Consult-card {
  grid-row: 1/4;
  grid-area: consult-nutri;
  display: grid;
  place-content: center;

  padding-top: 5rem;
}
.Consult-card h2 {
  font-size: clamp(3rem, 5vw, 4.5rem);
  line-height: 1;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  width: 70vw !important;

  text-align: center;
  padding: 0 0 0.5rem 0;
  color: #829078 !important;
}
.Consult-card p {
  font-size: 1.3rem;
  font-family: "Cormorant Garamond", serif;
  text-align: justify;
  text-indent: 2rem;
  width: 70vw !important;
  color: #829078;
  padding-top: 4rem;
}
.Consult-card span {
  width: 70vw !important;
  text-align: justify;
  padding: 1rem 0 2.5rem 0;
  text-indent: 2rem;
  font-size: 1.3rem;
  color: #829078 !important;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 399px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  #fixa {
    position: fixed;
    bottom: 7vw;
    margin: 0 0 0 81vw;
    background-color: transparent;
    width: 250px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
  }

  #fixa img {
    width: 50px;
    height: 50px;
    margin-left: -0.3rem;
  }
  #fixa a .flex-itens {
    display: flex;
    align-items: center;
  }
  #fixa a .flex-itens span {
    display: none;
  }

  .flutuar {
    animation-name: flutuar;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  @keyframes flutuar {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, -15px, 0);
    }
  }

  .homestyle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 37, 5% 37, 5% 1fr;
    grid-template-areas:
      "cardy-direito "
      " cardy-esquerdo "
      "cardy-rody cardy-rody";
    background-color: #829078;
    height: 100vh;
    margin: 0;
  }

  .homestyle .cardy-esquerdo {
    width: 100vw;
    grid-row: 1/4;
    grid-area: cardy-esquerdo;
    margin-left: -14rem;
    margin-top: 17rem;
    height: 40vh;
  }

  .cardy-esquerdo span {
    padding: 1rem 0.5rem 0 0;
  }
  .cardy-esquerdo small {
    font-family: "Dancing Script", cursive;
    font-size: clamp(1.7rem, 4.5vw, 2.7rem);
    padding: 0 0 0 0;
    letter-spacing: 0.2rem;
  }
  .cardy-esquerdo p {
    font-family: "Dancing Script", cursive;
    font-size: 1.5rem;
    padding: 0 0 2.5rem 0;
    letter-spacing: 0.1rem;
  }
  .cardy-esquerdo h5 {
    width: 96vw;
    font-size: clamp(2.1rem, 4vw, 4rem);
    font-family: "Dancing Script", cursive;
    padding: 0 0 0 1rem;
  }

  .homestyle .cardy-direito {
    grid-row: 1/4;
    grid-area: cardy-direito;
    width: 20vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem 0 0 11rem;
  }

  .Quemsou {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "conteudo conteudo conteudo ";
    background-color: #fff;
    height: 100vh;
    margin: 0;
    place-content: center;
  }

  .Quemsou .Conteudo .Conteudo-text {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 350px;
    height: 450px;
  }

  .Conteudo-text h4 {
    text-align: justify;
    color: #b99496;
    font-size: clamp(1.7rem, 5vw, 1.7rem);
    font-family: "Dancing Script", cursive;
    width: 300px;
    padding-bottom: 2rem;
    z-index: 1;
  }
  .Conteudo-text span {
    text-indent: 2rem;
    text-align: justify;
    color: #829078;
    font-weight: bold;
    font-size: clamp(1.6rem, 5vw, 1.7rem);
    width: 300px;
    font-family: "Cormorant Garamond", serif;
    padding-bottom: 3rem;
    z-index: 1;
  }
  .Quemsou .Conteudo .Conteudo-text a {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    padding-bottom: 3rem;
    z-index: 0;
  }

  .Conteudo .SouImg {
    display: none;
  }

  .Servicos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "serv-card serv-card serv-card";
    justify-items: center;
    align-items: center;
    background: linear-gradient(
        rgba(130, 144, 120, 0.9),
        rgba(185, 148, 150, 0.9)
      ),
      url("./alim.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    margin: 0;
  }

  .Serv-card {
    grid-row: 1/4;
    grid-area: serv-card;
    display: grid;
    justify-content: center;
    height: 94vh;
    width: 365px !important;
    margin-top: 0.5rem;
  }

  .Serv-card h2,
  small,
  p,
  span {
    color: #f4f4f4;
  }

  .Serv-card h2 {
    font-size: clamp(2.7rem, 5vw, 4.5rem);
    line-height: 1rem;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    text-align: center;
    padding: 0 0 2.7rem 0;
    width: 365px !important;
  }
  .Serv-card small {
    font-family: "Cormorant Garamond", serif;
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 0 0 1rem 3.3rem;
    font-weight: bold;
    font-size: clamp(1.4rem, 5vw, 2rem);
    width: 365px !important;
  }

  .Serv-card p {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: clamp(1.5rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
    width: 325px !important;
  }
  .Serv-card span {
    display: flex;
    justify-self: center;
    text-align: justify;
    padding: 0.3rem 0 1rem 0;
    text-indent: 2rem;
    font-size: clamp(1.5rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
    width: 325px !important;
    padding-bottom: 3rem;
  }

  .Serv-card a {
    display: grid;
    place-self: center;
    margin: 0 0.5rem 0 0;
  }

  .Consulta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "consult-nutri consult-nutri consult-nutri"
      "consult-nutri consult-nutri consult-nutri";
    height: 300vh;
    align-items: start;
  }
  .Consulta .Consult-card {
    grid-row: 1/4;
    grid-area: consult-nutri;
    display: grid;
    place-content: center;

    padding-top: 8rem;
  }
  .Consult-card h2 {
    font-size: clamp(2.7rem, 5vw, 4.5rem);
    line-height: 1rem;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0 2rem 0;
    width: 365px !important;
    color: #829078;
  }
  .Consult-card p {
    font-size: clamp(1.5rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
    text-align: justify;
    text-indent: 2rem;
    width: 325px !important;
    color: #829078;
    padding-top: 1rem;
    font-weight: bold;
    display: flex;
    justify-self: center;
  }
  .Consult-card span {
    width: 325px !important;
    text-align: justify;
    padding: 1rem 0 2.5rem 0;
    text-indent: 2rem;
    font-size: clamp(1.5rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    color: #829078;
    display: flex;
    justify-self: center;
  }
}
@media only screen and (min-width: 400px) and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  #fixa {
    position: fixed;
    bottom: 7vw;
    margin: 0 0 0 81vw;
    background-color: transparent;
    width: 250px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
  }

  #fixa img {
    width: 50px;
    height: 50px;
    margin-left: -0.3rem;
  }
  #fixa a .flex-itens {
    display: flex;
    align-items: center;
  }
  #fixa a .flex-itens span {
    display: none;
  }

  .flutuar {
    animation-name: flutuar;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  @keyframes flutuar {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, -15px, 0);
    }
  }
  .homestyle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 37, 5% 37, 5% 1fr;
    grid-template-areas:
      "cardy-direito "
      " cardy-esquerdo "
      "cardy-rody cardy-rody";
    background-color: #829078;
    height: 100vh;
    margin: 0;
  }

  .homestyle .cardy-esquerdo {
    width: 100vw;
    grid-row: 1/4;
    grid-area: cardy-esquerdo;
    margin-left: -14rem;
    margin-top: 17rem;
    height: 40vh;
  }

  .cardy-esquerdo span {
    padding: 4rem 0.5rem 0 0;
    font-size: clamp(3.2rem, 7vw, 6rem);
  }
  .cardy-esquerdo small {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    padding: 0 0 0 0;
    letter-spacing: 0.2rem;
  }
  .cardy-esquerdo p {
    font-family: "Dancing Script", cursive;
    font-size: 1.5rem;
    padding: 0 0 2.5rem 0;
    letter-spacing: 0.1rem;
  }
  .cardy-esquerdo h5 {
    width: 96vw;
    font-size: clamp(2.5rem, 4vw, 4rem);
    font-family: "Dancing Script", cursive;
    padding: 0 0 0 1rem;
  }

  .homestyle .cardy-direito {
    grid-row: 1/4;
    grid-area: cardy-direito;
    width: 20vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 22rem 0 0 12rem;
  }

  .Quemsou {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "conteudo conteudo conteudo ";
    background-color: #fff;
    height: 100vh;
    margin: 0;
    place-content: center;
  }

  .Quemsou .Conteudo .Conteudo-text {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 400px;
    height: 450px;
  }
  .Conteudo-text h2 {
    margin-left: 1rem;
  }

  .Conteudo-text h4 {
    text-align: justify;
    color: #b99496;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Dancing Script", cursive;
    width: 350px;
    padding-bottom: 2rem;
    margin-left: 1rem;
    z-index: 1;
  }
  .Conteudo-text span {
    text-indent: 2rem;
    text-align: justify;
    color: #829078;
    font-weight: bold;
    font-size: clamp(2rem, 5vw, 1.7rem);
    width: 370px;
    font-family: "Cormorant Garamond", serif;
    z-index: 1;
    padding-bottom: 2rem;
  }
  .Quemsou .Conteudo .Conteudo-text a {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    margin-left: -7rem;
    z-index: 0;
    width: 400px;
  }

  .Conteudo .SouImg {
    display: none;
  }

  .Servicos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "serv-card serv-card serv-card";
    justify-items: center;
    align-items: center;
    background: linear-gradient(
        rgba(130, 144, 120, 0.9),
        rgba(185, 148, 150, 0.9)
      ),
      url("./alim.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    margin: 0;
  }

  .Servicos .Serv-card {
    grid-row: 1/4;
    grid-area: serv-card;
    display: grid;
    justify-content: center;
    height: 94vh;
    width: 100vw !important;
    margin-top: 0.8rem;
    color: #f4f4f4;
  }

  .Serv-card h2 {
    font-size: clamp(3.3rem, 5vw, 4.5rem);
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 0 0 3rem 0;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 99vw !important;
  }
  .Serv-card small {
    font-family: "Cormorant Garamond", serif;
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 0 0 1rem 3rem;
    font-weight: bold;
    font-size: clamp(1.9rem, 5vw, 2rem);
    width: 99vw !important;
  }

  .Serv-card p {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;

    padding: 0 0.5rem 0 0.5rem;
    width: 94vw !important;
  }
  .Serv-card span {
    display: flex;
    justify-self: center;
    text-align: justify;
    padding: 0.3rem 0.5rem 1rem 0.5rem;
    text-indent: 2rem;
    width: 94vw !important;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
  }

  .Serv-card a {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    margin-left: 3rem;
    z-index: 0;
    width: 400px;
  }

  .Consulta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "consult-nutri consult-nutri consult-nutri"
      "consult-nutri consult-nutri consult-nutri";
    height: 300vh;
    align-items: start;
    background: rgba(255, 255, 255, 0.9);
  }
  .Consulta .Consult-card {
    grid-row: 1/4;
    grid-area: consult-nutri;
    display: grid;
    place-content: center;
    background-color: #f4f4f4;
    padding-top: 8rem;
  }
  .Consult-card h2 {
    font-size: clamp(3.3rem, 5vw, 4.5rem);
    line-height: 1rem;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0 2rem 0;
    width: 365px !important;
    color: #829078;
  }
  .Consult-card p {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
    padding: 0 0.5rem 0 0.5rem;
    width: 94vw !important;
    color: #829078;
    padding-top: 1rem;
    font-weight: bold;
  }
  .Consult-card span {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
    padding: 0;
    width: 94vw !important;
    padding: 1rem 0.5rem 2.5rem 0.5rem;
    font-weight: bold;
    color: #829078;
  }
}

@media only screen and (min-width: 481px) and (max-width: 540px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  #fixa {
    position: fixed;
    bottom: 7vw;
    margin: 0 0 0 81vw;
    background-color: transparent;
    width: 250px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
  }

  #fixa img {
    width: 50px;
    height: 50px;
    margin-left: -0.3rem;
  }
  #fixa a .flex-itens {
    display: flex;
    align-items: center;
  }
  #fixa a .flex-itens span {
    display: none;
  }

  .flutuar {
    animation-name: flutuar;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  @keyframes flutuar {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, -15px, 0);
    }
  }
  .homestyle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 37, 5% 37, 5% 1fr;
    grid-template-areas:
      "cardy-direito "
      " cardy-esquerdo "
      "cardy-rody cardy-rody";
    background-color: #829078;
    height: 100vh;
    margin: 0;
  }

  .homestyle .cardy-esquerdo {
    width: 100vw;
    grid-row: 1/4;
    grid-area: cardy-esquerdo;
    margin-left: -14rem;
    margin-top: 17rem;
    height: 40vh;
  }

  .cardy-esquerdo span {
    padding: 4rem 0.5rem 0 0;
    font-size: clamp(3.2rem, 7vw, 6rem);
  }
  .cardy-esquerdo h3 {
    padding: 0 0 0 2rem;
    font-size: clamp(1.7rem, 3.5vw, 2.1rem);
  }
  .cardy-esquerdo h4 {
    font-size: clamp(1.4rem, 3.5vw, 2.1rem);
    padding: 0 0 2.5rem 2rem;
  }
  .cardy-esquerdo h5 {
    width: 96vw;
    font-size: clamp(2.5rem, 4vw, 4rem);
    font-family: "Dancing Script", cursive;
    padding: 0 0 0 1rem;
  }

  .homestyle .cardy-direito {
    grid-row: 1/4;
    grid-area: cardy-direito;
    width: 20vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem 0 0 12rem;
  }

  .Quemsou {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "conteudo conteudo conteudo ";
    background-color: #fff;
    height: 100vh;
    margin: 0;
    place-content: center;
  }

  .Quemsou .Conteudo .Conteudo-text {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 400px;
    height: 450px;
  }
  .Conteudo-text h2 {
    margin-left: 1rem;
  }

  .Conteudo-text h4 {
    text-align: justify;
    color: #b99496;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Dancing Script", cursive;
    width: 350px;
    padding-bottom: 2rem;
    margin-left: 1rem;
    z-index: 1;
  }
  .Conteudo-text span {
    text-indent: 2rem;
    text-align: justify;
    color: #829078;
    font-weight: bold;
    font-size: clamp(2rem, 5vw, 1.7rem);
    width: 370px;
    font-family: "Cormorant Garamond", serif;
    z-index: 1;
    padding-bottom: 2rem;
  }
  .Quemsou .Conteudo .Conteudo-text a {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    margin-left: -7rem;
    z-index: 0;
    width: 400px;
  }

  .Conteudo .SouImg {
    display: none;
  }

  .Servicos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "serv-card serv-card serv-card";
    justify-items: center;
    align-items: center;
    background: linear-gradient(
        rgba(130, 144, 120, 0.9),
        rgba(185, 148, 150, 0.9)
      ),
      url("./alim.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    margin: 0;
  }

  .Servicos .Serv-card {
    grid-row: 1/4;
    grid-area: serv-card;
    display: grid;
    justify-content: center;
    height: 94vh;
    width: 100vw !important;
    margin-top: 0.8rem;
    color: #f4f4f4;
  }

  .Serv-card h2 {
    font-size: clamp(3.3rem, 5vw, 4.5rem);
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 0 0 3rem 0;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 99vw !important;
  }
  .Serv-card small {
    font-family: "Cormorant Garamond", serif;
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 0 0 1rem 3rem;
    font-weight: bold;
    font-size: clamp(1.9rem, 5vw, 2rem);
    width: 99vw !important;
  }

  .Serv-card p {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;

    padding: 0 0.5rem 0 0.5rem;
    width: 94vw !important;
  }
  .Serv-card span {
    display: flex;
    justify-self: center;
    text-align: justify;
    padding: 0.3rem 0.5rem 1rem 0.5rem;
    text-indent: 2rem;
    width: 94vw !important;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
  }

  .Serv-card a {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    margin-left: 3rem;
    z-index: 0;
    width: 400px;
  }

  .Consulta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "consult-nutri consult-nutri consult-nutri"
      "consult-nutri consult-nutri consult-nutri";
    height: 300vh;
    align-items: start;
  }
  .Consulta .Consult-card {
    grid-row: 1/4;
    grid-area: consult-nutri;
    display: grid;
    place-content: center;

    padding-top: 8rem;
  }
  .Consult-card h2 {
    font-size: clamp(3.3rem, 5vw, 4.5rem);
    line-height: 1rem;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0 2rem 8rem;
    width: 365px !important;
    color: #829078;
  }
  .Consult-card p {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
    padding: 0 0.5rem 0 0.5rem;
    width: 94vw !important;
    color: #829078;
    padding-top: 1rem;
    font-weight: bold;
  }
  .Consult-card span {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
    padding: 0;
    width: 94vw !important;
    padding: 1rem 0.5rem 2.5rem 0.5rem;
    font-weight: bold;
    color: #829078;
  }
}
@media only screen and (min-width: 541px) and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  #fixa {
    position: fixed;
    bottom: 7vw;
    margin: 0 0 0 81vw;
    background-color: transparent;
    width: 250px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
  }

  #fixa img {
    width: 50px;
    height: 50px;
    margin-left: -0.3rem;
  }
  #fixa a .flex-itens {
    display: flex;
    align-items: center;
  }
  #fixa a .flex-itens span {
    display: none;
  }

  .flutuar {
    animation-name: flutuar;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  @keyframes flutuar {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, -15px, 0);
    }
  }
  .homestyle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 37, 5% 37, 5% 1fr;
    grid-template-areas:
      "cardy-direito "
      " cardy-esquerdo "
      "cardy-rody cardy-rody";
    background-color: #829078;
    height: 100vh;
    margin: 0;
  }

  .homestyle .cardy-esquerdo {
    width: 100vw;
    grid-row: 1/4;
    grid-area: cardy-esquerdo;
    margin-left: -14rem;
    margin-top: 19rem;
    height: 40vh;
  }

  .cardy-esquerdo span {
    padding: 4rem 0.5rem 0 0;
    font-size: clamp(3.2rem, 7vw, 6rem);
  }
  .cardy-esquerdo h3 {
    padding: 0 0 0 2rem;
    font-size: clamp(1.7rem, 3.5vw, 2.1rem);
  }
  .cardy-esquerdo h4 {
    font-size: clamp(1.4rem, 3.5vw, 2.1rem);
    padding: 0 0 2.5rem 2rem;
  }
  .cardy-esquerdo h5 {
    width: 96vw;
    font-size: clamp(2.5rem, 4vw, 4rem);
    font-family: "Dancing Script", cursive;
    padding: 0 0 0 1rem;
  }

  .homestyle .cardy-direito {
    grid-row: 1/4;
    grid-area: cardy-direito;
    width: 20vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem 0 0 12rem;
  }

  .Quemsou {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "conteudo conteudo conteudo ";
    background-color: #fff;
    height: 100vh;
    margin: 0;
    place-content: center;
  }

  .Quemsou .Conteudo .Conteudo-text {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 400px;
    height: 450px;
  }
  .Conteudo-text h2 {
    margin-left: 1rem;
  }

  .Conteudo-text h4 {
    text-align: justify;
    color: #b99496;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Dancing Script", cursive;
    width: 350px;
    padding-bottom: 2rem;
    margin-left: 1rem;
    z-index: 1;
  }
  .Conteudo-text span {
    text-indent: 2rem;
    text-align: justify;
    color: #829078;
    font-weight: bold;
    font-size: 3rem;
    width: 370px;
    font-family: "Cormorant Garamond", serif;
    z-index: 1;
    padding-bottom: 2rem;
  }
  .Quemsou .Conteudo .Conteudo-text a {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    margin-left: -7rem;
    z-index: 0;
    width: 400px;
  }

  .Conteudo .SouImg {
    display: none;
  }

  .Servicos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "serv-card serv-card serv-card";
    justify-items: center;
    align-items: center;
    background: linear-gradient(
        rgba(130, 144, 120, 0.9),
        rgba(185, 148, 150, 0.9)
      ),
      url("./alim.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    margin: 0;
  }

  .Servicos .Serv-card {
    grid-row: 1/4;
    grid-area: serv-card;
    display: grid;
    justify-content: center;
    height: 94vh;
    width: 100vw !important;
    margin-top: 0.8rem;
    color: #f4f4f4;
  }

  .Serv-card h2 {
    font-size: clamp(3.3rem, 5vw, 4.5rem);
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 0 0 3rem 0;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 99vw !important;
  }
  .Serv-card small {
    font-family: "Cormorant Garamond", serif;
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 0 0 1rem 3rem;
    font-weight: bold;
    font-size: clamp(1.9rem, 5vw, 2rem);
    width: 99vw !important;
  }

  .Serv-card p {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;

    padding: 0 0.5rem 0 0.5rem;
    width: 94vw !important;
  }
  .Serv-card span {
    display: flex;
    justify-self: center;
    text-align: justify;
    padding: 0.3rem 0.5rem 1rem 0.5rem;
    text-indent: 2rem;
    width: 94vw !important;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
  }

  .Serv-card a {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    margin-left: 3rem;
    z-index: 0;
    width: 400px;
  }

  .Consulta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "consult-nutri consult-nutri consult-nutri"
      "consult-nutri consult-nutri consult-nutri";
    height: 300vh;
    align-items: start;
  }
  .Consulta .Consult-card {
    grid-row: 1/4;
    grid-area: consult-nutri;
    display: grid;
    place-content: center;

    padding-top: 8rem;
  }
  .Consult-card h2 {
    font-size: clamp(3.3rem, 5vw, 4.5rem);
    line-height: 1rem;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0 2rem 8rem;
    width: 365px !important;
    color: #829078;
  }
  .Consult-card p {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
    padding: 0 0.5rem 0 0.5rem;
    width: 94vw !important;
    color: #829078;
    padding-top: 1rem;
    font-weight: bold;
  }
  .Consult-card span {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: clamp(2rem, 5vw, 1.7rem);
    font-family: "Cormorant Garamond", serif;
    padding: 0;
    width: 94vw !important;
    padding: 1rem 0.5rem 2.5rem 0.5rem;
    font-weight: bold;
    color: #829078;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  #fixa {
    position: fixed;
    bottom: 7vw;
    margin: 0 0 0 83vw;
    background-color: transparent;
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
  }

  #fixa img {
    width: 80px;
    height: 80px;
    margin-left: -0.3rem;
  }
  #fixa a .flex-itens {
    display: flex;
    align-items: center;
  }
  #fixa a .flex-itens span {
    display: none;
  }

  .flutuar {
    animation-name: flutuar;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  @keyframes flutuar {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, -15px, 0);
    }
  }
  .homestyle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 37, 5% 37, 5% 1fr;
    grid-template-areas:
      "cardy-direito "
      " cardy-esquerdo "
      "cardy-rody cardy-rody";
    background-color: #829078;
    height: 100vh;
    margin: 0;
  }

  .homestyle .cardy-esquerdo {
    width: 100vw;
    grid-row: 1/4;
    grid-area: cardy-esquerdo;
    margin-left: -14rem;
    margin-top: 27rem;
    height: 40vh;
  }

  .cardy-esquerdo span {
    padding: 4rem 0.5rem 0 0;
    font-size: 5.5rem;
  }
  .cardy-esquerdo h3 {
    padding: 0 0 0 2rem;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }
  .cardy-esquerdo h4 {
    font-size: 2.5rem;
    padding: 0 0 2.5rem 2rem;
    letter-spacing: 0.2rem;
  }
  .cardy-esquerdo h5 {
    width: 90vw;
    font-size: 3.5rem;
    font-family: "Dancing Script", cursive;
    padding: 0 0 0 4.5rem;
    letter-spacing: 0.2rem;
  }

  .homestyle .cardy-direito {
    grid-row: 1/4;
    grid-area: cardy-direito;
    width: 20vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem 0 0 12rem;
  }

  .Quemsou {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "conteudo conteudo conteudo ";
    background-color: #fff;
    height: 100vh;
    margin: 0;
    place-content: center;
  }

  .Quemsou .Conteudo .Conteudo-text {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 700px;

    height: 700px;
  }
  .Conteudo-text h2 {
    margin-left: 1rem;
    font-size: 5rem;
  }

  .Conteudo-text h4 {
    text-align: justify;
    color: #b99496;
    font-size: 2.5rem;
    font-family: "Dancing Script", cursive;
    width: 400px;
    padding-bottom: 2rem;
    margin-left: 1rem;
    z-index: 1;
  }
  .Conteudo-text span {
    text-indent: 2rem;
    text-align: justify;
    color: #829078;
    font-weight: bold;
    font-size: 2.5rem;
    width: 600px;
    font-family: "Cormorant Garamond", serif;
    z-index: 1;
    padding-bottom: 2rem;
  }
  .Quemsou .Conteudo .Conteudo-text a {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    margin-left: -7rem;
    z-index: 0;
    width: 400px;
  }

  .Conteudo .SouImg {
    display: none;
  }

  .Servicos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "serv-card serv-card serv-card";
    justify-items: center;
    align-items: center;
    background: linear-gradient(
        rgba(130, 144, 120, 0.9),
        rgba(185, 148, 150, 0.9)
      ),
      url("./alim.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 105vh;
    margin: 0;
  }

  .Servicos .Serv-card {
    grid-row: 1/4;
    grid-area: serv-card;
    display: grid;
    justify-content: center;
    height: 94vh;
    width: 100vw !important;
    margin-top: -0.4rem;
    color: #f4f4f4;
  }

  .Serv-card h2 {
    font-size: 5rem;
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 0 0 4rem 0;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 99vw !important;
  }
  .Serv-card small {
    font-family: "Cormorant Garamond", serif;
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 0 0 1rem 5rem;
    font-size: 3rem;
    width: 99vw !important;
  }

  .Serv-card p {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: 2.5rem;
    font-family: "Cormorant Garamond", serif;

    padding: 0 1.5rem 0 1.5rem;
    width: 94vw !important;
  }
  .Serv-card span {
    display: flex;
    justify-self: center;
    text-align: justify;
    padding: 0.3rem 1.5rem 3rem 1.5rem;
    text-indent: 2rem;
    width: 94vw !important;
    font-size: 2.5rem;
    font-family: "Cormorant Garamond", serif;
  }

  .Serv-card a {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-end;
    margin-left: 3rem;
    z-index: 0;
    width: 400px;
  }

  .Consulta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "consult-nutri consult-nutri consult-nutri"
      "consult-nutri consult-nutri consult-nutri";
    height: 300vh;
    align-items: start;
  }
  .Consulta .Consult-card {
    grid-row: 1/4;
    grid-area: consult-nutri;
    display: grid;
    place-content: center;

    padding-top: 14rem;
  }
  .Consult-card h2 {
    font-size: 5rem;
    line-height: 1rem;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0 4rem 16rem;
    width: 365px !important;
    color: #829078;
  }
  .Consult-card p {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: 2.5rem;
    font-family: "Cormorant Garamond", serif;
    padding: 0 1.5rem 0 1.5rem;
    width: 94vw !important;
    color: #829078;
    padding-top: 1rem;
    font-weight: bold;
  }
  .Consult-card span {
    display: flex;
    justify-self: center;
    text-align: justify;
    text-indent: 2rem;
    font-size: 2.5rem;
    font-family: "Cormorant Garamond", serif;
    padding: 0;
    width: 94vw !important;
    padding: 1rem 1.5rem 2.5rem 1.5rem;
    font-weight: bold;
    color: #829078;
  }
}
